body {
  /* background-color: #324957;*/
  background: radial-gradient(
    circle,
    rgba(100, 128, 145, 1) 0%,
    rgba(50, 73, 87, 1) 100%
  );
  color: white;
  font-family: "Do Hyeon", sans-serif;
}
